<header id="cabecalho">
	<div id="logo-pequeno">
		<%= link_to abstracao_cognicao_index_path do %>
			<h1>INFOINT</h1>
		<% end %>
	</div>
</header>

<div id="container">
	<section class="container-artigos">
		<div class="moldura">
			<article>
				<header class="lilas">
					<h2>Exemplo</h2>
				</header>
				<div class="conteudo-perguntas">
					<%= @analogias_verbais.perguntas %>
				</div>
				<footer>
				
				</footer>
			</article>
		</div>
	</section>
</div>
