<header id="cabecalho">
	<div id="logo-pequeno">
		<%= link_to controle_interface_index_path do %>
			<h1>INFOINT</h1>
		<% end %>
	</div>
</header>
<div id="container">
	<section class="container-artigos">
		<article>
			<header class="azul">
				<h2>Controles de Interfaces - Checkboxes</h2>
			</header>
			<div>
				
				<div class="painel-descricao-padrao-interface ">
					
				</div>
				<div class="painel-descricao-padrao-interface ">
					<p>Note que:</p>
					<ol>
						<% @controles_interfaces.each do |controles| %>
							
							<% if controles.id == 1 %>
							
								<% controles.instrucao_usos.each do |instrucao_uso| %>
									<%=content_tag(:li, instrucao_uso.instrucao )%>
								<% end %>
								
							<%end%>
							
						<%end%>
					</ol>
				</div>

			</div>
			<footer>
				<p>Para ir para a próxma página, marque o Checkbox</p>
				<a href="#ar">slide1</a>
			</footer>
			
		</article>
		
		<article id="ar">
			<header class="azul">
				
			</header>
			<div>
				
			</div>
			<footer>
				
			</footer>
		</article>
		
		
	</section>
</div>
