<header id="cabecalho">
	<div id="logo-pequeno">
		<%= link_to controle_interface_index_path do %>
			<h1>INFOINT</h1>
		<% end %>
	</div>
</header>
<div id="container">
	<section class="container-artigos">
		<article>
			<header class="azul">
				<h2>Controles de Interfaces</h2>
			</header>
			<div>
				
				<div class="painel-descricao-padrao-interface ">
					
				</div>
				<div class="painel-descricao-padrao-interface ">
					
				</div>

			</div>
			<footer>
				
			</footer>
			
		</article>
		
		<article>
			<header class="azul">
				
			</header>
			<div>
				
			</div>
			<footer>
				
			</footer>
		</article>
		
		
	</section>
</div>
