<div id="container-teclado">
	
	<div id="teclado">
		
		<div id="categoria-teclas-funcao">
			
			
		</div>
		
		<div id="categoria-teclas-digitacao">
			
		</div>
		
		<div id="categoria-teclas-navegacao">
			
		</div>
		
		<div id="categoria-teclas-numericas">
			
		</div>
			
	</div>
</div>
