<header id="cabecalho">
	<div id="logo-pequeno">
		<%= link_to teclado_index_path do %>
			<h1>INFOINT</h1>
		<% end %>
	</div>
</header>
<div id="container">
	<section class="container-artigos">
		<div id="moldura">
			<% for i in 0..15 %>
				<article id=<%= i+1 %>>
					
					<header class="verde">
						<h2>Exercício Teclado</h2>
					</header>

					<div id="container-recaptcha" class="conteudo-perguntas">
						<div id="recaptcha">
							
						</div>
					<div/>
					
					<footer id="rodape-perguntas">
						<ul>
							
							
						</ul>
					</footer>
				</article>

			<% end %>
		</div>
	</section>
</div>
