<header id="cabecalho">
	<div id="logo-pequeno">
		<%= link_to teclado_index_path do %>
			<h1>INFOINT</h1>
		<% end %>
	</div>
</header>
<div id="container">
	<section class="container-artigos">
		<div id="moldura">
			<article id="1">
					
					<header class="verde">
						<h2>Exercício Teclado</h2>
					</header>

					<div id="container-recaptcha" class="conteudo-perguntas">
						<div id="recaptcha">
							
						</div>
					<div/>
					
					<footer id="rodape-perguntas">
						<ul>
							<li><%= link_to "Responder", teclado_exercitar_teclado_path, :class =>"botao botao-azul responder-pergunta" %></li>
							<li><%= @vetor[0] %></li>
						</ul>
					</footer>
				</article>

			<% for i in 0..15 %>
				
			<% end %>
		</div>
	</section>
</div>
