<header id="cabecalho">
	<div id="logo-pequeno">
		<%= link_to teclado_index_path do %>
			<h1>INFOINT</h1>
		<% end %>
	</div>
</header>

<h1>Teclado#exercitar_teclado</h1>
<p>Find me in app/views/teclado/exercitar_teclado.html.erb</p>
