// Place all the styles related to the AbstracaoCognicao controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#container-perguntas article {
  border: 1px solid #C9C0BB;
}

#container-perguntas article header {
  padding: 15px;
  height: 30px;
  color: white;
  border: 1px solid #C9C0BB;
}

.conteudo-perguntas { 
  padding:10px;
  height:460px;
}

#rodape-perguntas {
  margin:0;
  box-shadow:none;
  padding: 10px;
  height: 32px;
  border: 1px solid #C9C0BB;
}
#rodape-perguntas ul li {
  display:inline-block;
}

#container-perguntas footer ul li { display:inline-block; }
#container-perguntas { padding: 20px; }
#container-perguntas p { font-size: 14pt; }

#container-alternativas { 
   padding: 20px;
   height: 250px;
}
#container-alternativas ul { list-style-type: none; }
#container-alternativas ul li {
  padding: 5px;
  margin: 8px 0px;
  font-size:14pt;
}

.container-respostas {
  padding: 20px;
  border: 1px solid #C9C0BB;
  visibility: hidden;
}

.container-respostas ul li { display:inline-block; }

.container-respostas ul li span {
  padding:20px 0px;  
  line-height:1.5px;
  margin-right: 10px;
}
.letra-alternativa {
  font-weight:bold;
  margin-right: 5px;
}

.alternativa {
  margin-left: 5px;
}

.resposta-pergunta { width: 875px; }
.resposta-pergunta-medio { width: 607px; }

#resposta-aberta {
  padding:30px 0px 10px;
}

#resposta-aberta label {
  font-weight:bold;
}

#resposta-aberta input[type='text']{
  margin-top:10px;
}

.descricao-adicional { 
  text-align:center;
  font-size: 16pt;
}

.avancar-pergunta{ 
  margin-left: 350px;
  visibility: hidden;
}

.responder-pergunta { visibility:visible; }
.resposta-correta { display: none; }
.mensagem-fim-exercicio {
  margin-top: 50px;
}

#imagem-pergunta {
  width: 250px;
  height: 250px;
  float: left;
  border: 1px solid black;
}

#imagem-pergunta img {
  width: 250px;
  height: 250px;
}
.painel-direito-pergunta {
   margin-left: 20px;
   width: 624px;
   float: left;
}


