// Place all the styles related to the ControleInterface controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.container-artigos {
  margin-top: 100px;
  height:600px;
  padding:30px;
  border-radius: 8px;
  border-left: 1px solid #DDDDDD;
  border-right: 1px solid #DDDDDD;
  background-color:#FFFFFF;
  box-shadow: 0 5px 10px #AAAAAA;
  overflow: hidden;
}

.container-artigos article {
  height: 597px;
  margin-bottom: 60px;
  border: 1px solid #C9C0BB;
}

.container-artigos article header {
  padding: 15px;
  height: 30px;
  color: white;
}

.container-artigos article div {
  padding: 10px;
  height: 462px;
  border: 1px solid #C9C0BB;
}

.painel-descricao-padrao-interface {
  width: 447px;
  float: left;
  border: 1px solid #C9C0BB;
}


.moldura {
  height: 600px;
  overflow:hidden;
}

.painel-descricao-padrao-interface ol { margin: 25px 0 0 20px ; }
.painel-descricao-padrao-interface ol li { margin-bottom: 20px; }

.container-artigos article footer {
  margin:0;
  box-shadow:none;
  padding: 15px;
  height: 18px;
  border: 1px solid #C9C0BB;
}

.container-artigos article footer ul li {
  display:inline-block;
  margin-right: 8px;
}

.container-artigos article footer ul li:last-child {
  margin-left: 375px;
}

#demonstracao-controle-interface {
  padding: 0;
  height:90px;
}

#demonstracao-controle-interface ul { margin-top: 30px; }
#demonstracao-controle-interface ul li {
  margin-right: 20px;
  display:inline-block;
}

#padrao-radio-button  footer ul li:last-child {
  margin-left: 340px;
}






.container-artigos article footer a {
  visibility: hidden;
}


















