// Place all the styles related to the Teclado controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



// CATEGORIAS DE TECLAS

#container-teclado {
  padding: 5px;
  height: 350px;
  margin: 0 auto;
}

#categoria-teclas-funcao {
  width:1068px;
  height:50px;
  padding: 0;
}

#categoria-teclas-funcao ul li:nth-child(14) a {
  font-size:7pt;
}

#categoria-teclas-funcao a {
  font-size:10pt;
}

// CATEGORIA Teclas de Digitação

#categoria-teclas-digitacao {
  width:730px;
  height: 240px;
  padding: 4px 0 2px 0;
  float:left;
  position:absolute;
}

// CATEGORIA Teclas de Navegação

#categoria-teclas-navegacao {
  width:135px;
  
  height: 240px;
  margin-left: 729px;
  padding: 4px 0 2px 0;
  
  float:left;
  position:absolute;
}

#categoria-teclas-navegacao a {
  font-size:10pt;
}


// CATEGORIA Teclado Numérico
#categoria-teclas-numericas {
  width:200px;
  height: 240px;
  padding: 4px 0 2px 0;
  float:left;
  margin-left:868px;
  position:absolute;
}


#categoria-teclas-numericas ul li:first-child a {
  font-size:10pt;
}


// TECLADO


#teclado {
  width:1080px;
  height: 305px;
  background-color: #d5d9dc;
  -moz-border-radius-topleft: 7px 21px;
  -moz-border-radius-topright: 7px 21px;
  -moz-border-radius-bottomright: 10px;
  -moz-border-radius-bottomleft: 10px;
  border-top-left-radius: 7px 21px;
  border-top-right-radius: 7px 21px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 8px 0 0 5px;
  -webkit-box-shadow:  
    inset 0 0 8px #bbb,
    0 1px 0 #aaa,
    0 4px 0 #bbb,
    0 10px 30px #ddd;
  -moz-box-shadow:  
    inset 0 0 8px #bbb,
    0 1px 0 #aaa,
    0 4px 0 #bbb,
    0 10px 30px #ddd;
  box-shadow:  
    inset 0 0 8px #bbb,
    0 1px 0 #aaa,
    0 4px 0 #bbb,
    0 10px 30px #ddd;
  margin:0 auto;
  position:relative;
}

#teclado ul li{
  display:inline-block;
}

#teclado li { float: left; }

#teclado ul ol { list-style-type: none; }

.tecla {
  display: block;
  color: #aaa;
  font-size: 12pt;
  text-decoration: none;
  text-align: center;
  width: 42px;
  height: 39px;
  margin: 4px;
  background: #eff0f2;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border-top: 1px solid #f5f5f5;
  -webkit-box-shadow: 
    inset 0 0 25px #e8e8e8,
    0 1px 0 #c3c3c3,
    0 2px 0 #c9c9c9,
    0 2px 3px #333;
  -moz-box-shadow: 
    inset 0 0 25px #e8e8e8,
    0 1px 0 #c3c3c3,
    0 2px 0 #c9c9c9,
    0 2px 3px #333;
  box-shadow: 
    inset 0 0 25px #e8e8e8,
    0 1px 0 #c3c3c3,
    0 2px 0 #c9c9c9,
    0 2px 3px #333;
  text-shadow: 0px 1px 0px #f5f5f5;
  
  
}

.tecla:active,
.tecla-abaixada {
  color: #888;
  background: #ebeced;
  margin: 6px 4px 2px;
  
  -webkit-box-shadow:
    inset 0 0 25px #ddd,
    0 0 3px #333;
  -moz-box-shadow: 
    inset 0 0 25px #ddd,
    0 0 3px #333;
  box-shadow: 
    inset 0 0 25px #ddd,
    0 0 3px #333;
  border-top: 1px solid #eee;
}

// Teclas ESPECIAIS

.tecla-de-funcao { 
  height: 26px; 
  width: 44px;
}


#tab {
  width:70px;
}

#espaco {
  width:336px;
}

#caps-lock {
  font-size:11pt;
  width:80px;
}

#enter {
  font-size:11pt;
  width:82px;
}

#enter-numerico {
  height:90px;
  margin-top:-45px;
  font-size:10pt;
}

#backspace {
  font-size:9pt;
  width:70px;
}

#tecla-numero-zero {
  width: 92px;
}

.shift {
  font-size:11pt;
  width:56px;
}

.alt {
  font-size:11pt;
  width:56px;
}

.ctrl {
  font-size:11pt;
  width:56px;
}

.menu {
  width:56px;
}

.windows {
  width:56px;
}

#setas {
  height:75px;
  margin-top: 165px;
  padding-left:7px;
}

#setinha-para-cima {
  margin-left: 48px;
}


#setinha-direita {
  margin-left: 5px;
  position:absolute;
}

#setinha-para-cima,
#setinha-para-baixo,
#setinha-esquerda,
#setinha-direita {
  height: 27px;
  width: 35px;
}


// POSICAO CARACTERE


.caractere-superior {
  font-size:10pt;
  margin: 0 -15px;
  position:absolute;
}

.caractere-esquerdo {
  font-size:10pt;
  margin:20px -17px;
  position:absolute;
}

.caractere-direito {
  font-size:10pt;
  margin:20px 10px;
  position:absolute;
}


////////////////////////
//DESCRIÇÃO DAS TECLAS//
////////////////////////


#container-descricao-teclado {
  height: 350px;
  margin: 40px auto 40px auto;
  padding: 20px;
}

#painel-descricao-teclado {
  margin:0 auto;
  width:765px;
  height:360px;
  border: 1px solid #dedede;
  border-radius:10px;
  
  border-left: 1px solid #DDDDDD;
  border-right: 1px solid #DDDDDD;
  background-color:#FFFFFF;
  box-shadow: 0 5px 10px #AAAAAA;
}


#painel-descricao-teclado aside {
  width:105px;
  height:290px;
  padding:15px 10px 0  10px;
  float:left;
}

#painel-descricao-teclado article {
  height:305px;
  margin-left:0px;
}

#painel-descricao-teclado header {
  border:none;
  height:25px;
  padding:10px 20px;
  color:#FFF;
  border-radius:10px 10px 0px 0px;
}

#painel-descricao-teclado  header h3 {
  font-size: 16pt;
}

#painel-descricao-teclado aside ul {
    border-right:1px solid #dedede;
    list-style:none; 
    float:left; 
    padding: 0 20px 15px 10px;
    height:275px;
}

#painel-descricao-teclado aside ul li { margin: 10px 0; }
#painel-descricao-teclado aside ul a {
    outline:none; 
    text-decoration: underline;
    text-align: center;
    display:block;
    width:75px; 
    height:74px;
    border: solid 1px #EFEFEF;
    border: solid 1px #CCC;
    border: solid 4px white;
    box-shadow: 1px 1px 5px #999;
    
    border-radius: 4px;
}

#painel-descricao-teclado aside ul li a {
  font-size:16pt;
  text-decoration:none;
  color:black;
  background: #fcfcfc; 
  background: linear-gradient(top, #fcfcfc 0%,#dad8d8 100%); 
  background: -moz-linear-gradient(top, #fcfcfc 0%, #dad8d8 100%); 
  background: -webkit-linear-gradient(top, #fcfcfc 0%,#dad8d8 100%);
 }
 
 #painel-descricao-teclado article .mascara {
    float:left; 
    width:620px; 
    height:220px; 
    margin:15px 0 0 10px; 
    overflow:hidden;
 }

#painel-descricao-teclado article .painel-caractere {
    height: 280px;
    text-align: left;
    width: 600px;
 }


#container-descricao-tecla {
  padding:8px;
}

#container-descricao-tecla h3 {
  font-size: 14pt;
  marging-bottom: 20px;
}

#container-descricao-tecla header {
  border-bottom: 1px solid #C9C0BB;
  background:none;
  color:black;
  padding:5px 0;
  marging-bottom: 20px;
}

#container-descricao-tecla p { padding-top:10px; }
#formulario-captcha {
  width: 800px;
  height: 470px;
  margin: 0 auto;
}

#formulario-captcha fieldset {
  padding: 20px;
  margin: 10px 200px;
  border-radius: 10px;
  border: 1px solid #C9C0BB;
}

#formulario-captcha legend {
  font-size: 10pt;
}

#formulario-captcha div {
  margin: 0 auto;
}

#formulario-captch fieldset:last-child {
  margin-right: 20px;
}

#botao-confirmar-captcha {
  margin-top: 20px;
}

#descricao-teclado{
  padding: 20px;
  
}
