<!DOCTYPE html>
<html>
<head>
	
  <title>INFOINT - Objeto de Aprendizagem de Introdução à Informática</title>
  
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  
  

  
  
  

  <link href='http://fonts.googleapis.com/css?family=Orbitron|Michroma|Monofett|Allerta+Stencil|Gruppo|Ubuntu:400,300' rel='stylesheet' type='text/css'>
  <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCilujgoVxa6h10qYCnLMyGrwxzgO67kNg&sensor=true"></script>
  <script type="text/javascript" src="http://www.google.com/recaptcha/api/js/recaptcha_ajax.js"></script>
  
  
<!-- Combo-handled YUI CSS files: --> 
<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/combo?2.9.0/build/treeview/assets/skins/sam/treeview.css"> 
<!-- Combo-handled YUI JS files: --> 
<script type="text/javascript" src="http://yui.yahooapis.com/combo?2.9.0/build/yahoo-dom-event/yahoo-dom-event.js&2.9.0/build/treeview/treeview-min.js"></script>


</head>
<body>


<%= yield %>

</body>
</html>
